:root {
  --main-background: white;
  --violet: #8055ff;
  --border: #459df5;
  --blue-base: #bad8f5;
  --error: #f53152;
  --clear: url("./icons/x-medium.svg");
  --locked: url("./icons/locked.svg");
}
.html,
body {
  background-color: #ffff;
  width: 100%;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1rem;
  flex-direction: row;
}

.main-input-block {
  width: 352px;
  height: 360px;
  background: var(--main-background);
  padding: 3rem;
  border: 1px dashed var(--violet);
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 13px;
}
.label {
  margin-bottom: 8px;
  cursor: pointer;
}

.input-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-block__group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
}

.input {
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  border: 1px solid var(--border);
  padding: 8px;
  cursor: pointer;
}

.input:focus {
  outline: solid 1px var(--border);
}

.input::placeholder {
  color: var(--blue-base);
}

.input_incorrect {
  border: 1px solid var(--error);
  cursor: pointer;
}

.input_incorrect:focus {
  outline: solid 1px var(--error);
}

.input_disabled {
  background-color: var(--blue-base);
  cursor: auto;
  color: black;
}

.icon {
  height: 1rem;
  width: 1rem;
  position: absolute;
  z-index: 1;
  right: 0.5rem;
  top: 0.5rem;
  border: none;
  cursor: pointer;
  background: inherit;
  padding: 0;
}

.icon_disabled {
  cursor: auto;
}
